/* Purpose: Styles - src/styles/components/welcome.css (Welcome/landing page styles) */

#welcome-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: blur(6.25rem);
}

#welcome-container {
  font-family:
    Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial,
    sans-serif;
  height: 100%;
}

#welcome-container main {
  height: 100%;
  display: flex;
  justify-content: center;
}

#welcome-hero {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

#welcome-container h1 {
  font-size: 1.375rem;
  margin-top: 0.25em;
}

#welcome-links {
  display: flex;
  gap: 1rem;
}

#welcome-links a {
  display: flex;
  align-items: center;
  padding: 0.625rem 0.75rem;
  color: #111827;
  text-decoration: none;
  transition: color 0.2s;
}

#welcome-links a:hover {
  color: rgb(78, 80, 86);
}

#welcome-links a svg {
  height: 1em;
  margin-left: 0.5rem;
}

#welcome-links a.button {
  color: white;
  background: linear-gradient(83.21deg, #3245ff 0%, #bc52ee 100%);
  box-shadow:
    inset 0 0 0 1px rgba(255, 255, 255, 0.12),
    inset 0 -0.125rem 0 rgba(0, 0, 0, 0.24);
  border-radius: 0.625rem;
}

#welcome-links a.button:hover {
  color: rgb(230, 230, 230);
  box-shadow: none;
}

#welcome-container pre {
  font-family:
    ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
    "DejaVu Sans Mono", monospace;
  font-weight: normal;
  background: linear-gradient(14deg, #d83333 0%, #f041ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin: 0;
}

#welcome-container h2 {
  margin: 0 0 1em;
  font-weight: normal;
  color: #111827;
  font-size: 1.25rem;
}

#welcome-container p {
  color: #4b5563;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: -0.006em;
  margin: 0;
}

#welcome-container code {
  display: inline-block;
  background:
    linear-gradient(66.77deg, #f3cddd 0%, #f5cee7 100%) padding-box,
    linear-gradient(155deg, #d83333 0%, #f041ff 18%, #f5cee7 45%) border-box;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  padding: 0.375rem 0.5rem;
}

#welcome-container .box {
  padding: 1rem;
  background: rgba(255, 255, 255, 1);
  border-radius: 1rem;
  border: 1px solid white;
}

#welcome-news {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  max-width: 300px;
  text-decoration: none;
  transition: background 0.2s;
  backdrop-filter: blur(3.125rem);
}

#welcome-news:hover {
  background: rgba(255, 255, 255, 0.55);
}

@media screen and (max-height: 23rem) {
  #welcome-news {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  #welcome-container {
    display: flex;
    flex-direction: column;
  }

  #welcome-hero {
    display: block;
    padding-top: 10%;
  }

  #welcome-links {
    flex-wrap: wrap;
  }

  #welcome-links a.button {
    padding: 0.875rem 1.125rem;
  }

  #welcome-news {
    right: 1rem;
    left: 1rem;
    bottom: 2.5rem;
    max-width: 100%;
  }

  #welcome-container h1 {
    line-height: 1.5;
  }
}
