---
import type { BlogPost } from "../../types/blog";

import Title from "../Text/Title.astro";
import Body from "../Text/Body.astro";
import Meta from "../Text/Body.astro";

type Props = {
  post: BlogPost;
};

const { post } = Astro.props;

const date = new Date(post.data.date);
---

<a href={`/blog/${post.id}`} class="group block rounded-3xl border border-zinc-800 bg-zinc-950/40 p-8 transition hover:-translate-y-1 hover:border-retro-primary hover:bg-white/5 hover:shadow-[0_20px_60px_-30px_rgba(255,255,255,0.25)]">
  <div class="space-y-4">
    <Meta class="text-sm text-zinc-500 transition group-hover:text-retro-primary">
      {date.toDateString()}
    </Meta>

    <Title level={2} class="text-3xl mt-2 transition group-hover:text-retro-primary">
      {post.data.title}
    </Title>

    <Body class="text-zinc-400 mt-4">
      {post.data.description}
    </Body>
  </div>
</a>