:root {

  --font-title: "IBM Plex Sans", sans-serif;

  --font-ui: "IBM Plex Mono", monospace;

  --font-body: "Inter", sans-serif;

  --font-terminal: "JetBrains Mono", monospace;

}


/* PIXEL ART
:root {

  --font-title: "Jersey 15", monospace;
  --font-ui: "Silkscreen", monospace;
  --font-body: "Pixelify Sans", monospace;
  --font-terminal: "JetBrains Mono", monospace;

}
*/

.font-ui {
  font-family: var(--font-ui) !important;
}

.font-title {
  font-family: var(--font-title) !important;
}

.font-alt-title {
  font-family: var(--font-alt-title) !important;
}

.font-terminal {
  font-family: var(--font-terminal) !important;
}

html {
  font-family: var(--font-body) !important;
}

body {
  font-family: inherit;
}

p, span, a, button, input, textarea {
  font-family: inherit;
}

body {
  letter-spacing: 0.5px;
  line-height: 1.4;
}

h1, h2, h3 {
  letter-spacing: 1px;
  text-transform: uppercase;
}