:root {
  --font-ui: "Silkscreen", monospace;
  --font-body: "Pixelify Sans", monospace;
  --font-title: "Press Start 2P", monospace;
  --font-alt-title: "VT323", monospace;
  --font-terminal: "VT323", monospace;
}


.font-ui {
  font-family: var(--font-ui) !important;
}

.font-title {
  font-family: var(--font-title) !important;
}

.font-alt-title {
  font-family: var(--font-alt-title) !important;
}

.font-terminal {
  font-family: var(--font-terminal) !important;
}

html {
  font-family: var(--font-body) !important;
}

body {
  font-family: inherit;
}

p, span, a, button, input, textarea {
  font-family: inherit;
}

body {
  letter-spacing: 0.5px;
  line-height: 1.4;
}

h1, h2, h3 {
  letter-spacing: 1px;
  text-transform: uppercase;
}