:root {
  /* retro colors */
  --retro-primary: rgb(236, 251, 32);
  --retro-secondary: rgb(4, 255, 251);
  --retro-terminal: rgb(255, 52, 252);

  /* UI neutrals */
  --ui-base: rgb(228 228 231);
  --ui-muted: rgb(161 161 170);
  --ui-invert: rgb(255 255 255);
}

